/* Color Theme Swatches in Hex */
.colorA-hex { color: #F0F1F2; }
.colorB-hex { color: #47592D; }
.colorC-hex { color: #798C35; }
.colorD-hex { color: #594B42; }
.colorE-hex { color: #8C7972; }

/* Color Theme Swatches in RGBA */
.colorA-rgba { color: rgba(240, 241, 242, 1); }
.colorB-rgba { color: rgba(71, 89, 45, 1); }
.colorC-rgba { color: rgba(121, 140, 53, 1); }
.colorD-rgba { color: rgba(89, 75, 66, 1); }
.colorE-rgba { color: rgba(140, 121, 114, 1); }

/* Color Theme Swatches in HSLA */
.colorA-hsla { color: hsla(210, 7, 94, 1); }
.colorB-hsla { color: hsla(84, 32, 26, 1); }
.colorC-hsla { color: hsla(73, 45, 37, 1); }
.colorD-hsla { color: hsla(23, 14, 30, 1); }
.colorE-hsla { color: hsla(16, 10, 49, 1); }

:root {
    --A: #F0F1F2;
    --B: #47592D;
    --C: #798C35;
    --D: #594B42;
    --E: #8C7972;
}

body {
    background-color: var(--A);
}

h1 {
    color: var(--C);
    font-style: italic;
    font-size: 50px;
}

h2 {
    color: var(--B);
    font-size: 24px;
    font-weight: bolder;
}

h3 {
    color: var(--B);
    font-size: 18px;
}

p {
    color: var(--D);
    font-size: 18px;
}
